:root {
  --color-text: #333;
  --color-background: #e9e9e9;
  --color-accent: #ff6c3f;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --color-text: #e9e9e9;
  --color-background: #333;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mark-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  width: 80%;
}
.mark-header section:first-child {
  display: flex;
  align-items: center;
  gap: 40px;
}
.mark-header h1 {
  font-size: 48px
}

button {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: var(--color-accent);
  color: #e9e9e9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-mode .it {
  color: var(--color-background);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-text);
}

.it {
  color: var(--color-background);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-text);
}

/*-----------------*/

.mark-block {
  height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px 10px 10px;
  overflow-y: auto;
  border: 4px solid var(--color-accent);
  border-radius: 40px;
  background-color: var(--color-text);
}
  
.mark-block::-webkit-scrollbar {
  width: 0;
}

.mark-block::-webkit-scrollbar-track {
  display: none;
}

.block {
  width: 100%;
  position: relative;
}

.block-buttons {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 10px;
} 

.block button {
  opacity: 0;
  transition: opacity 0.001s ease-in; /* Added transition property */
}
.block:hover button {
  opacity: 1;
}

.mark-block {
  color: var(--color-background);
}
.block-content {
  padding: 12px 0px;
}
textarea { 
  width: 80%;
  border-radius: 4px;
}

/* ------------------- */